<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>X</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Ng Fitness </a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-item">
      <a *ngIf="!(isAuth$ | async)" routerLink="/signup">SignUp</a>
      <a *ngIf="!(isAuth$ | async)" routerLink="/login">Login</a>
      <a *ngIf="isAuth$ | async" routerLink="/training">Training</a>
      <li (click)="onLogout()" *ngIf="isAuth$ | async">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
