<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center">Let's training</mat-card-title>
      <mat-card-content fxLayoutAlign="center">Select type of training</mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Type of workout" ngModel name="exercise" required>
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
            {{ exercise.name | json }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button (click)="onStartTraining(f)" [disabled]="f.invalid">
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
