<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
  >
    <mat-form-field
    >
      <input
        matInput
        type="email"
        name="email"
        id="email"
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
    />
      <mat-error>Set your email</mat-error>
  </mat-form-field>
    <mat-form-field
      hintLabel="Should be least 8 characters long."
    >
      <input
        matInput
        type="password"
        name="password"
        id="password"
        placeholder="Your password"
        ngModel
        name="password"
        password
        required
        #passwordInput="ngModel"
      />
      <mat-hint align="end">{{ passwordInput.value?.legth}} / 8</mat-hint>
      <mat-error>Set your password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
