<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        id="email"
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
      />
      <mat-error>Set your email</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be least 8 characters long.">
      <input
        matInput
        type="password"
        name="password"
        id="password"
        placeholder="Your password"
        ngModel
        name="password"
        password
        required
        #passwordInput="ngModel"
      />
      <mat-hint align="end">{{ passwordInput.value?.legth }} / 8</mat-hint>
      <mat-error>Set your password</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your birthdate</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthday"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox
      ngModel
      name="agree"
      required
      color="primary"
    >
      Agree to Terms and Conditions
    </mat-checkbox>
    <button *ngIf="!isLoading" type="submit" mat-raised-button [disabled]="form.invalid" color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
