mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  color: whitesmoke;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-item {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}